@tailwind base;
@tailwind components;
@tailwind utilities;


#skillcard::-webkit-scrollbar {
    display: none;
}

@keyframes marquee {
    from { transform: translateX(100%); }
    to { transform: translateX(-100%); }
  }
  .animate-marquee {
    display:inline-block;
    animation: marquee 8s linear infinite;
  }


  .hide-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .hide-scrollbar {
    scrollbar-width: none;
    -ms-overflow-style: none;
  }
  